.page-hero.about-hero{style: "background: url(#{asset_path('bk-about.jpg')}) 30% 80%"}

.page-wrapper
  .container.page-container
    .page-content
      %h3 ABOUT
      %hr
      %h5 The Brand
      %p Boho Kitty is a collection of luxury bridal accessories created for the bride who is all about that laid-back bohemian vibe, but loves her sparkle. As the name suggests, our love for bohemian glamour and all things feline are the driving passion behind the brand. Our unique designs are for brides who are wildly romantic and who are not deterred by the restraints of traditional bridal fashion. 

      %h5 The Designer 

      %p I am a passionate 25 year old who is absolutely crazy about her two cats, and even crazier about her sweet husband. Being recently married, most of my creative vision is fueled from the day-to-day bliss of being in love. I find that what inspires me when making my bridal accessories is the appreciation of all things organic, and the strong belief that love is the most precious thing in this world. My hope is that my pieces feel whimsical and fresh, and capture the beauty of all things wild and free.
    .page-image
      %img{src: "#{asset_path('bk-about-page.jpg')}"}
