.footer {
  background: $dark-gray;

  .footer-logo {
    img {
      display: block;
      margin: 0 auto;
      height: 150px;
    }
  }
  .footer-content {
    padding: 1em;
    background: darken($dark-gray, 10);
    @include media(min-width $medium-screen) {
      @include display(flex);
      @include justify-content(space-around);
    }

    a {
      text-align: center;
      font-size: 1.2em;
      color: #fff;
      font-weight: 300;
      letter-spacing: $header-letter-spacing;
      margin: 0 20px;

      &:hover {
        color: darken(#fff, 10);
      }
    }
  }
}
