.listing-details {
  border: 1px solid #A1A1A1;
  padding: 1em;

  @include media(min-width $medium-screen) {
    @include display(flex);
    @include justify-content(center);
    width: 60%;
    margin: 1.5em auto;
  }
}
