.footer
  .footer-logo
    .container
      %img{src: asset_path('bk-logo.png')} 
  .footer-content
    .container
      =link_to "HOME", root_path
      =link_to "ABOUT", about_path
      =link_to "INSPIRATION", inspiration_path
      =link_to "CONTACT", contact_path
